{"name":"kconfig-represent","vers":"0.0.1","deps":[{"name":"kconfig-parser","req":">=0.0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"86df8983e30cedfa5ada4ea9dbf24d64e1d128a826ebbd1cb6638e0cc7dd929a","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.0.2","deps":[{"name":"kconfig-parser","req":">=0.0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"cc99e7013b898042944d9395172fbb96f2340be34cc8b615db665e831b2be59f","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.0.3","deps":[{"name":"kconfig-parser","req":">=0.0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"be3f1736fd37b254608c5f9f5f9de17dd029c4185679d3e992bb55fb0d77c6c5","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.0.4","deps":[{"name":"kconfig-parser","req":">=0.0.3","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"09438021b0e80bd23daec68b99907333014436bf63a3320ec3304aeedffb4bee","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.0.5","deps":[{"name":"kconfig-parser","req":">=0.0.3","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"9c27f9ca273f89558ec78803a384a72c779696ec50eab8f65fa2125706abedca","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.0.6","deps":[{"name":"kconfig-parser","req":">=0.0.3","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"09fd2185b0ebf3959891f8cf1a602219e33db08cab777786257237772c0732d1","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.0.7","deps":[{"name":"kconfig-parser","req":">=0.0.3","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"7513d247e3b4b5101c52797f568b77f7e6d0d2ed058f6e7a31468fd811df2a3b","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.0.8","deps":[{"name":"kconfig-parser","req":">=0.0.5","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"46ef581d2f16e26104b93f7a550f9f572dcf56b6dc090594f7cb4ce8ca10cc68","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.1.0","deps":[{"name":"kconfig-parser","req":">=0.1.0","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"72b99ceb275b5a20c0b4e14f007ac1351d610f22f1b8fe935980d6149b4a8107","features":{},"yanked":false}
{"name":"kconfig-represent","vers":"0.1.1","deps":[{"name":"kconfig-parser","req":">=0.1.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"575ea75b69035398325ef229ce414ccf92160bda7a2d4627349ea7138a6b7b00","features":{},"yanked":false}
