{"name":"kconfig-represent","vers":"0.0.1","deps":[{"name":"kconfig-parser","req":">=0.0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"86df8983e30cedfa5ada4ea9dbf24d64e1d128a826ebbd1cb6638e0cc7dd929a","features":{},"yanked":false,"links":null}
{"name":"kconfig-represent","vers":"0.0.2","deps":[{"name":"kconfig-parser","req":">=0.0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"cc99e7013b898042944d9395172fbb96f2340be34cc8b615db665e831b2be59f","features":{},"yanked":false,"links":null}
{"name":"kconfig-represent","vers":"0.0.3","deps":[{"name":"kconfig-parser","req":">=0.0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"be3f1736fd37b254608c5f9f5f9de17dd029c4185679d3e992bb55fb0d77c6c5","features":{},"yanked":false,"links":null}
{"name":"kconfig-represent","vers":"0.0.4","deps":[{"name":"kconfig-parser","req":">=0.0.3","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"09438021b0e80bd23daec68b99907333014436bf63a3320ec3304aeedffb4bee","features":{},"yanked":false,"links":null}
{"name":"kconfig-represent","vers":"0.0.5","deps":[{"name":"kconfig-parser","req":">=0.0.3","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"9c27f9ca273f89558ec78803a384a72c779696ec50eab8f65fa2125706abedca","features":{},"yanked":false,"links":null}
