{"name":"kconfig_impl","vers":"0.0.1","deps":[{"name":"kconfig_compiler","req":"^0.0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"quote","req":"^1.0","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"syn","req":"^1.0","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"c9970bfcecc781a95437e82abcb46e096e01e912ddbf62f5fe33f1e9ffae60ec","features":{},"yanked":false}
