{"name":"kconfig-linux","vers":"0.1.0","deps":[{"name":"anyhow","req":"^1.0.56","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"regex","req":"^1.5.5","features":["pattern"],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"thiserror","req":"^1.0.30","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"uuid","req":"^0.8.2","features":["v4"],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"c435ce77021076dce811e688f38f04bac7ba98a70904478ba56e6b6783cc3752","features":{},"yanked":false}
{"name":"kconfig-linux","vers":"0.1.1","deps":[{"name":"anyhow","req":"^1.0.56","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"regex","req":"^1.5.5","features":["pattern"],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"thiserror","req":"^1.0.30","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"uuid","req":"^0.8.2","features":["v4"],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"28f383e209b641f19bfc70a8e714fecac9968846c2579b29d3eeaffb31943f50","features":{},"yanked":false}
