{"name":"control","vers":"1.0.0","deps":[{"name":"num-traits","req":"^0.2","features":[],"optional":false,"default_features":false,"target":null,"kind":"normal"}],"cksum":"026fee9fd78cbb918c2dc7f88eee52b14e09c0bdcbc19ea7cbf009419db81746","features":{},"yanked":false}
