{"name":"codeowners","vers":"0.1.0","deps":[{"name":"glob","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"lazy_static","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"regex","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"0663e55ddf27501fcf8a77d4dce0a9fcca002a83cf284df16e15aa09f98972c0","features":{},"yanked":false}
{"name":"codeowners","vers":"0.1.1","deps":[{"name":"glob","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"lazy_static","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"regex","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"929540732218de0aafc33bf22f50f45b050b2d8e1a453161efd6745a3710f21d","features":{},"yanked":false}
{"name":"codeowners","vers":"0.1.2","deps":[{"name":"glob","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"lazy_static","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"pretty_assertions","req":"^0.4","features":[],"optional":false,"default_features":true,"target":null,"kind":"dev"},{"name":"regex","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"2bc06b752b9a82c3607ae59dce7674cb9c801ff30be12704c198f6266f616339","features":{},"yanked":false}
{"name":"codeowners","vers":"0.1.3","deps":[{"name":"glob","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"lazy_static","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"pretty_assertions","req":"^0.4","features":[],"optional":false,"default_features":true,"target":null,"kind":"dev"},{"name":"regex","req":"^0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"5665cbdc903baba1521d6fca5e024f1faeaebd0e02a555c13564aab010d07ebf","features":{},"yanked":false}
