{"name":"crontab","vers":"0.0.0","deps":[{"name":"expectest","req":"^0.9.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"dev"}],"cksum":"c62cdd1a1ac27412a4a3e6695487b86a9081ebca536b5e1bd83db277c1701e64","features":{},"yanked":false}
{"name":"crontab","vers":"0.1.0","deps":[{"name":"expectest","req":"^0.9.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"dev"},{"name":"regex","req":"~0.2","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"},{"name":"time","req":"~0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"2e016114148d59c50176f7a7f4dc719db6764a4b216d1392ccb337ff3fb9d763","features":{},"yanked":false}
{"name":"crontab","vers":"0.2.0","deps":[{"name":"expectest","req":"^0.9.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"dev"},{"name":"time","req":"~0.1","features":[],"optional":false,"default_features":true,"target":null,"kind":"normal"}],"cksum":"6f461f8105f7f085a047213414135bc6cf608e93bda262d0fd8f8790c582927f","features":{},"yanked":false}
